
{% extends "subastaApp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'subastaApp/img/principal.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Calidad, precio y confiabilidad</span>
            <span class="section-heading-lower">Los mejores vehículos</span>
          </h2>
          <p class="mb-3">Compra ya tu vehículo al mejor precio y       ¡Sin salir de casa! Nuestra calidad es tu garantía
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Calidad y Garantía</span>
              </h2>
              <p class="mb-0">Más de 50 años en el mercado, te ofrecemos los mejores vehículos a los mejores precios. Nuestros proveedores pasan un estricto control de calidad, lo que ofrece a nuestros clientes satisfacción. Qué esperas para renovar tu transporte.</p>
            </div>
          </div>
        </div>
      </div>
    </section>



    {% endblock %}


   